.carousel-container {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.carousel-item {
  flex-shrink: 0; /* Prevent items from shrinking */
  width: 100%; /* Ensure items take full width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure images cover the container */
}

.carousel-track {
  display: flex;
  transition: transform 2s ease-in-out;
  width: 100%;
}
